{
  "peer-port": 51413,
  "rpc-whitelist-enabled": false,
  "rpc-whitelist": "192.168.*.*",
  "incomplete-dir": "{{ transmission_download_dir }}",
  "incomplete-dir-enabled": false,
  "download-dir": "{{ transmission_download_dir }}",
  "watch-dir": "{{ transmission_watch_dir }}",
  "watch-dir-enabled": true,
  "rename-partial-files": true,
  "start-added-torrents": true,
  "trash-original-torrent-files": false,
  "speed-limit-up": 1,
  "speed-limit-up-enabled": 1,
  "upload-slots-per-torrent": 1,
  "cache-size-mb": 8,
  "encryption": 1,
  "peer-limit-global": 240,
  "peer-limit-per-torrent": 60,
  "download-queue-enabled": true,
  "download-queue-size": 5,
  "queue-stalled-enabled": true,
  "queue-stalled-minutes": 10,
  "seed-queue-enabled": true,
  "seed-queue-size": 0
}
